body {
    height: 100%;
    width: 100%;
    background-color: #E5D2C4;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.container {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
