header {
    width: 100%;
    display: flex;
 
}


.logos {
    height: 150px;
    display: flex;
    align-items: center;
    justify-items: flex-start;
    
}
.logo {
    height: 150px;
    width: 150px; 
}

.title {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
        content: '';
        position: inherit;
        border-top: 4px solid #D22730;
        border-bottom:4px solid #00AF66; 
        animation: border_anim 2s linear forwards;
    }
    
    @keyframes border_anim {
        0%{
            width: 0%;
        }
        100%{
            width: 100%;
        }
    }