body {
    height: 100%;
    width: 100%;
    background-color: #E5D2C4;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.container {
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

.title-women {
    color: #323130;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    letter-spacing: 2px;
    animation: 2s anim-lineUp ease-out;
      @keyframes anim-lineUp {
        0% {
          opacity: 0;
          transform: translateY(80%);
        }
        20% {
          opacity: 0;
        }
        50% {
          opacity: 1;
          transform: translateY(0%);
        }
        100% {
          opacity: 1;
          transform: translateY(0%);
        }
      }
    }
