.image-blr {
&__second:hover {
    transition: all 0.3s ease-out;
    position: relative;
    z-index: 2;
    transform: scale(1.1, 1.1);
    z-index: 9;
}
&__third:hover {
    transition: all 0.3s ease-out;
    position: relative;
    z-index: 2;
    transform: scale(1.1, 1.1);
    z-index: 9;
}
}