.image-blr {
    &__first, &__second, &__third {
        width: 300px;
        height: 300px;
    }
&__first:hover, &__second:hover, &__third:hover {
    box-shadow:
    -50px -50px 0 -40px(#D22730),
    50px 50px 0 -40px(#00AF66);
    transition: all 0.5s ease-out;
    position: relative;
    z-index: 2;
    transform: scale(1.1, 1.1);
    z-index: 9;
}

}

.texts-img {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:#323130ca
    
  }
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }

