body {
  min-height: 100vh;
  max-width: 100%;
  background: #E5D2C4;
  display: flex;
  flex-direction: column;
  margin: auto;
}

header {
  width: 100%;
  display: flex;
}

.logos {
  height: 150px;
  display: flex;
  align-items: center;
  justify-items: flex-start;
  cursor: pointer;
}

.logo {
  height: 150px;
  width: 150px;
}

.title {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  content: "";
  position: inherit;
  border-top: 4px solid #006AA7;
  border-bottom: 4px solid #FECC02;
  animation: border_anim 2s linear forwards;
  color: black;
}

@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.grid-container {
  max-width: 90%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(9, 1fr);
}

h2 {
  width: 100vh;
}

.item1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 5;
  grid-column-end: 7;
}

img {
  width: 450px;
}

.item2 {
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 6;
}

.item3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 6;
  grid-column-end: 9;
}

@media only screen and (max-width: 1166px) {
  .grid-container {
    display: inline;
    margin: auto;
  }
}