body {
    height:100vh;
    width: 100%;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    margin: no;
}

header {
    width: 100%;
    display: flex;
 
}

.logos {
    height: 150px;
    display: flex;
    align-items: center;
    justify-items: flex-start;
}
.logo {
    height: 150px;
    width: 150px; 
}

.title {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
        content: '';
        position: inherit;
        border-top: 4px solid #FD8FE2;
        border-bottom:4px solid #FD8FE2; 
        animation: border_anim 2s linear forwards;
    }
    
    @keyframes border_anim {
        0%{
            width: 0%;
        }
        100%{
            width: 100%;
        }
    }

    .page-content {
        width: 100%;
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }
    
    .page-title {
        font-family: cooper-black-std, serif;
        font-size: 30px;
        color: #B98B76;
    }

    .page-text-container {
        width: 600px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: row;
    }

    .page-text {
        text-align: center;
        font-family: lato, sans-serif;
        font-style: italic;
        font-size: 20px;
        color: black;
    }
    .flag-container {
   
        height: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr;
      }

      .india-link {
        grid-column: 2 / 3;
        place-self: center;
      }
      
      .belarus-link {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        place-self: center;
      }
      
      .sweden-link {
        grid-column: 4 / 5;
        place-self: center;
      }
a {
    
    font-family: lato, sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.562);
    position: relative;
    text-decoration: none;
    /* padding: 5px; */
   
   
   
  }
  

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}


.india-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-top: 4px solid #FF9933;
    border-bottom:4px solid #138808;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .india-link:hover::before {
    transform: scaleX(1);
    
  }


  .belarus-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-top: 4px solid #D22730;
    border-bottom:4px solid #00AF66;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .belarus-link:hover::before {
    transform: scaleX(1);
  }

  .sweden-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-top: 4px solid #006AA7;
    border-bottom:4px solid #FECC02;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .sweden-link:hover::before {
    transform: scaleX(1);
  }

  .image-container {
    display: flex;
    justify-content: end;
    align-items: flex-end;
  }

  .image {
    width: 280px;
    height: 230px;
  }

  ul {
    display: flex;
  
    flex-direction: row;
    list-style-type: none;
  }

  li {
    padding: 10px;
  }