@use 'fonts';

.logos {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: flex-start;
}

.logo {
  height: 150px;
  width: 150px;
}

.title {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  content: "";
  position: inherit;
  border-top: 4px solid #FF9933;
  color: white;
  border-bottom: 4px solid #138808;
  -webkit-animation: border_anim 2s linear forwards;
  animation: border_anim 2s linear forwards;
}

@-webkit-keyframes border_anim {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes border_anim {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

  body {
    height: 100%;
    width: 100%;
    background-color: #E5D2C4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  
.heading-one {
    text-align: left;
    margin-left: 20px;
}

.women-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    align-items: flex-start;
    margin-left: 20px;
}

.women-img {
    max-width: 450px;
    margin-left: 20px;
}

.details {
    position: relative;
    max-width: 500px;
    margin-left: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}
a {
    text-decoration: none;
}