body {
    height:100vh;
    width: 90%;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    width: 100%;
    display: flex;
 
}

.logos {
    height: 150px;
    display: flex;
    align-items: center;
    justify-items: flex-start;
}
.logo {
    height: 150px;
    width: 150px; 
}

.title {
    text-align: center;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
        content: '';
        position: inherit;
        border-top: 4px solid #FD8FE2;
        border-bottom:4px solid #FD8FE2; 
        animation: border_anim 2s linear forwards;
    }
    
    a:link {
        text-decoration: none;
      }
      
      a:visited {
        text-decoration: none;
      }

ul, li, a {
    text-decoration: none;
    list-style: none;
}

h2 {
    text-align: center;
    font-size: 30px;
}

.social-section {
    max-width: 90%;
    min-height: 100vh;
    display: grid;
    margin: auto;
    grid-template-rows: repeat(7,1fr);
    grid-template-columns: repeat(11,1fr);
}

.anumol {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 4;
}

.yana {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 6;
    grid-column-end: 8;
}

.amanda {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 9;
    grid-column-end: 11;
}

.fa-brands {
    width: 10px;
    color: rgba(0, 0, 0, 0.692);
    margin: 10px;
}

.fa-brands:hover {
    color: #fd8fe1bd;
    transition:  0.5s ease;
}
