@import 'sweheader';

section {
    margin: auto;
}

h1 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
}

h2 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

a {
    color:black;
}

a:hover {
    color: rgba(0, 0, 0, 0.637);
    transition: 0.5s ease;
}

.content {
    text-align: center;
    width: 63%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    margin: auto;
}

.grid-container {
    max-width: 90%;
    min-height: 70vh;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(9, 1fr);
    text-align: center;
}

.grid-item {
    background-color: rgba(245, 196, 204, 0.534);
    border-radius: 20px;
    padding: 15px;
    overflow: hidden;
    margin: 20px;
    width: 200px;
    height: 250px;
    padding: 20px;
}

.grid-item:hover {
    background-color: rgba(248, 198, 207, 0.986);
    transition: 0.5s ease;
}


.item1 {
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;
}

.item2 {
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 6;
}

.item3 {
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 7;
    grid-column-end: 8;
}


.imge {
    width: 90%;
    height: 75%; 
    overflow: hidden;
}

img {
    width: 100%;
    transform: translateX(10px);
}


@media only screen and (max-width:845px) {
    .grid-container {
        display: inherit;
        transform: translateX(40%);
    }
}

@media only screen and (max-width:705px) {
    .grid-container {
        display: inherit;
        transform: translateX(30%);
    }
}

@media only screen and (max-width:500px) {
    .grid-container {
        display: inherit;
        transform: translateX(20%);
    }
}

@media only screen and (max-width:400px) {
    .grid-container {
        display: inherit;
        transform: translateX(10%);
    }
}

@media only screen and (max-width:350px) {
    .grid-container {
        display: inherit;
    }
}